.cf {
  text-align: justify;
  opacity: 1.0;
  width: 100%;
  height: auto;
}

div {
  opacity: 1.0;
}


a {
  color: hotpink;
}

/* mouse over link */
a:hover {
  color: #cc00cc;
}

img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

.bgimg {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
body, html {height: 100%}