.cf {
  text-align: justify;
  opacity: 1.0;
  width: 100%;
  height: auto;
}

div {
  opacity: 1.0;
}


a {
  color: hotpink;
}

/* mouse over link */
a:hover {
  color: #cc00cc;
}

img {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: auto;
}