.cf {
  text-align: justify;
  opacity: 1.0;
  width: 100%;
  height: auto;
}

div {
  opacity: 1.0;
}

a {
  color: hotpink;
}

/* mouse over link */
a:hover {
  color: #b32d00;
}

img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}