.cf {
  text-align: justify;
  opacity: 1.0;
  width: 100%;
  height: auto;
}

.nested-links{
  text-align: justify;
  opacity: 1.0;
  width: 100%;
  height: auto;
}

div {
  opacity: 1.0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}