.cf {
  text-align: justify;
  opacity: 1.0;
  width: 100%;
  height: auto;
}

.nested-links{
  text-align: justify;
  opacity: 1.0;
  width: 100%;
  height: auto;
}

div {
  opacity: 1.0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

video {
  width: 100%;
  height: auto;
}

/* -----------div tips------------- */

  div.nota, div.importante, div.observacao {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #1f5386;
    background-color: #bed3ec;
    border: solid 5px #dfedff;
  }
  
div.nota {
  background-image: url("/images/icone_nota.png");
}

div.importante {
  background-image: url("/images/icone_importante.png");
}

div.observacao {
  background-image: url("/images/icone_observacao.png");
}